p {
  text-align: justify;
}

h1 {
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  animation-name: from-purple;
  animation-duration: 500ms;
}

h1:hover {
    animation-name: to-purple;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.col-header {
  width: 100vw;
  height: 50vh;
  margin-bottom: 5rem;
  background: url(image1.jpg) black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.col-header > h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.center {
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: auto;
}

nav {
  background-color: white;
}

img {
    animation-name: fade-in;
    animation-duration: 500ms;
}

img:hover {
    animation-name: fade-out;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity:0.9;
      }
      100% {
        opacity:1;
      }
}

@keyframes fade-out {
    0% {
        opacity:1;
      }
      100% {
        opacity:0.9;
      }
}

@keyframes to-purple {
    0% {
        color: black;
      }
      100% {
        color: purple;
      }
}

@keyframes from-purple {
    0% {
        color: purple;
      }
      100% {
        color: black;
      }
}